
@{
    ViewData["Title"] = "Accountant";
}

<h1>Accountant</h1>
<h3>Accountant List</h3>

<a asp-controller="Home" asp-action="AddAccountant" class="btn btn-primary">Add Accountant</a>
<a asp-controller="Home" asp-action="EditAccountant" class="btn btn-success">Edit Accountant</a>
<a asp-controller="Home" asp-action="DeleteAccountant" class="btn btn-danger">Delete Accountant</a>
<a asp-controller="Home" asp-action="DetalisAccountant" class="btn btn-danger">Detalis Accountant</a>

