
@{
    ViewData["Title"] = "AccountantList";
}

<h1>AccountantList</h1>
<a asp-controller="Home" asp-action="AddAccountant" class="btn btn-primary">Add Accountant</a>
<a asp-controller="Home" asp-action="EditAccountant" class="btn btn-success">Edit Accountant</a>
<a asp-controller="Home" asp-action="DetalisAccountant" class="btn btn-danger">Detalis Accountant</a>

