
@{
    ViewData["Title"] = "AddCertificates";
}

<h1>AddCertificates</h1>
<a asp-controller="Home" asp-action="Save" class="btn btn-secondary">Save</a>
<a asp-controller="Home" asp-action="Cancel" class="btn btn-secondary">Cancel</a>

