
@{
    ViewData["Title"] = "ChemistList";
}

<h1>ChemistList</h1>

<a asp-controller="Home" asp-action="AddChemist" class="btn btn-primary">Add Chemist</a>
<a asp-controller="Home" asp-action="EditChemist" class="btn btn-success">Edit Chemist</a>
<a asp-controller="Home" asp-action="DetailsChemist" class="btn btn-danger">Details Chemist</a>

