
@{
    ViewData["Title"] = "Chemist";
}

<h1>Chemist</h1>
<h3>Chemist</h3>

<a asp-controller="Home" asp-action="AddChemist" class="btn btn-primary">Add Chemist</a>
<a asp-controller="Home" asp-action="EditChemist" class="btn btn-success">Edit Chemist</a>
<a asp-controller="Home" asp-action="DeleteChemist" class="btn btn-danger">Delete Chemist</a>
<a asp-controller="Home" asp-action="DetailsChemist" class="btn btn-danger">Details Chemist</a>
