
@{
    ViewData["Title"] = "DetalisAccountant";
}

<h1>DetalisAccountant</h1>
<a asp-controller="Home" asp-action="AccountantList" class="btn btn-secondary">Detalis Accountant</a>
<a asp-controller="Home" asp-action="AddCertificates" class="btn btn-info">Add Certificates</a>

