
@{
    ViewData["Title"] = "DetailsDoctor";
}

<h1>Details Doctor</h1>
<a asp-controller="Home" asp-action="DoctorsList" class="btn btn-secondary">Details Doctors</a>
<a asp-controller="Home" asp-action="AddCertificates" class="btn btn-info">Add Certificates</a>

