
@{
    ViewData["Title"] = "DetailsChemist";
}

<h1>DetailsChemist</h1>

<a asp-controller="Home" asp-action="Chemist" class="btn btn-secondary">Detalis Chemist</a>
<a asp-controller="Home" asp-action="AddCertificates" class="btn btn-info">Add Certificates</a>