
@{
    ViewData["Title"] = "Doctors";
}

<h1>Doctors</h1>
<p>Doctors List</p>

<a asp-controller="Home" asp-action="AddDoctor" class="btn btn-primary">Add Doctor</a>
<a asp-controller="Home" asp-action="EditDoctor" class="btn btn-success">Edit Doctor</a>
<a asp-controller="Home" asp-action="DeleteDoctor" class="btn btn-danger">Delete Doctor</a>
<a asp-controller="Home" asp-action="DetailsDoctor" class="btn btn-info">Details Doctors</a>
