
@{
    ViewData["Title"] = "DoctorsList";
}

<h1>DoctorsList</h1>
<p>Doctors List</p>

<a asp-controller="Home" asp-action="AddDoctor" class="btn btn-primary">Add Doctor</a>
<a asp-controller="Home" asp-action="EditDoctor" class="btn btn-success">Edit Doctor</a>
<a asp-controller="Home" asp-action="DetailsDoctor" class="btn btn-info">Details Doctors</a>
<a asp-controller="Home" asp-action="Doctors" class="btn btn-danger">Back to Doctors homepage</a>

