
@{
    ViewData["Title"] = "Save";
}

<h1>Save</h1>

<a asp-controller="Home" asp-action="Doctors" class="btn btn-secondary">Back To List To Doctor Page</a>
<a asp-controller="Home" asp-action="Accountant" class="btn btn-secondary">Back To List To Accountent page</a>
<a asp-controller="Home" asp-action="Chemist" class="btn btn-secondary">Back To List To Chemist page</a>

